/* intial position */

/* .leftP
{
    width: 100px;
    height: 100px;
    background-color: crimson;

}

.topP
{
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin-top:40px;
}
*/

/* relative position */
/* .leftP
{
    width: 100px;
    height: 100px;
    background-color: crimson;
    position: relative;
    left:40px;
} */

/* left N */
/* .leftN
{
    width: 100px;
    height: 100px;
    background-color: crimson;
    position: relative;
    left:-30px;
} */


/* topP */
.topP
{
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin-top:40px;
    position: relative;
    /* top:-30px;
    top: 50px; */
} 


/* topN */
/* .topN
{
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin-top:40px;
    position: relative;
    top:-60px;
} */

/* bottomP */
/* .bottomP {
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin-top:40px;
    position: relative;
    bottom:20px;
} */
/* bottomN */
/* .bottomN
{
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin-top:40px;
    position: relative;
    bottom:-60px; 
} */


/* rightP */
/* .rightP
{
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin-top:40px;
    margin-left: 40px;
    position: relative;   
    right:30px;
} */


/* rightN */

/* .rightN
{
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin-top:40px;
    margin-left: 40px;
    position: relative;   
    right:30px;
    right:-95px;
} */