p{
    background-color: red;
    display: inline-block;
    width: 10px;
    
}
span
{
    margin-top: 2px;
    margin-bottom:2px;
    background-color: grey;
    display: inline-block;
    width: 10px;
}